<div id="header">
  <h1>Sebastian Jespersen</h1>
  <h2>Fashion and Beauty Photographer in San&nbsp;Francisco, CA</h2>
  <ul>
    <li><a href="/">Portfolio</a></li>
    <li><a href="http://vimeo.com/17318784" target="_blank">Video</a></li>
    <li>Contact</li>
  </ul>
</div>
<div id="content" class="contact">
  <p>
  Sebastian Jespersen<br>
  (858) 947 8392<br>
  <a href="mailto:email@sebastian-jespersen.com">email@sebastian-jespersen.com</a><br>
  <a href="http://www.facebook.com/sjespersen" target="_blank">Facebook</a><br>
  <a href="http://www.flickr.com/photos/sjespersen" target="_blank">Flickr</a><br>
  Location: San Francisco Bay Area, CA
</p></div>